<div class="container">
    <h1>Projects</h1>

    <section *ngFor="let project of projects">
        <h2>{{project.title}}</h2>

        <h3>
            <span>Technologies: </span>
            <span>{{project.technologies}}</span>
        </h3>

        <ul *ngFor="let desc of project.description">
            <li>{{desc}}</li>
        </ul>
        <h3>
            <span>Websitelink: </span>
            <!-- <span>{{project.Websitelink}}</span> -->
            <a href={{project.Websitelink}} style="color: violet;">Click Here</a>
        </h3>
        <h3>
            <span>GitHub Code Link: </span>
            <!-- <span><a href={{project.GitHub_CodeLink}}></a></span> -->
            <a href={{project.GitHub_CodeLink}} style="color: violet;">Click Here</a>
        </h3>
    </section>
</div>
